#!/usr/bin/make -f

export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --with=python2

override_dh_auto_configure:
	dh_auto_configure -- --with-liblua --with-liblinear --enable-ipv6 STRIP=/bin/true

override_dh_auto_test:

override_dh_auto_install:
	dh_auto_install
	mv debian/tmp/usr/share/man/pt_PT debian/tmp/usr/share/man/pt

# autoreconf needs to be limited to the required directories, because
# re-generating the files is broken for some of the included (but not used)
# libraries
override_dh_autoreconf:
	dh_autoreconf autoreconf -- -fi --no-recursive \
		. libdnet-stripped nbase ncat nmap-update nping nsock/src

override_dh_install:
	dh_install --fail-missing -X/usr/bin/uninstall_ -Xca-bundle.crt -X.pyc

